.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
*/**/VM_code*
.env*
.cache
server/dist
public/dist
.turbo
*/**/game.db
nginx/certbot/
*/**/dungeon-master-prompt_*.txt
gatewai-466716-6a4cc3da9bc4.json

*/**/debug_media
*/**/libquery_engine*
*/**/debug_images/**
*/**/packages/db/node-compile-cache
debug/

packages/db/generated
*/**/*.tsbuildinfo
*/**/coverage

*/**/test_red_out.png

scratch-renders
**/.render-test/**
*/**/.tsbuild
*/**/gw-assets